* {
  background-color: #9c9c9c;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: orange;
}

.active {
  color: aquamarine;
}
